/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body { 
  min-height: 100vh; 
  color: white;
  background-color: black;
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 3vmin;
}

* {
  margin: 0;
}

main{
  margin: 0 auto;
  min-height: 100vh;
  width: 80%;
}

nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  min-height: 5vh;
  padding-top: 5vh;
}

.fm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: darkslateblue;
  min-height: 80vh;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
}

.hidden {
  display: none;
}

form {
  padding-left: 5%;
  padding-right: 5%;
}

#tag-datos {
  background-color: darkslateblue;
}

.sections {
  display: flex;
  justify-content: flex-start;
}

.special {
  justify-content: space-around;
}

.label-imc, .span-imc,.label-riesgo {
  flex: 1 1 0;
}
.span-clasificacion, .label-clasificacion,.span-riesgo {
  flex: 2 1 0;
}

input{
  width: 15%;
}

label{
  width: 65%;
}

a {
  width: 33.333%;
  /* border-top-left-radius: 30%;
  border-top-right-radius: 30%; */
  padding: 1vh 0;
  background-color: black;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  color: white;
}

.buttons{
  display: flex;
  justify-content: space-around;
}

.btn {
  width: 20%;
  min-height: 4.5vh;
  background-color: green;
  border: 0.5vh white solid;
  color: white;
  margin-top: 2.5vh;
}

.borrar{
  background-color: red;
}

input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}



/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/


@media only screen and (min-width: 600px) {
  main {
    width: 50%;
  }
}